---
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro"
---

<Layout title="AndreasPB.">
  <main>
    <h1>Welcome to <span class="text-gradient">My GitHub</span></h1>
    <p class="instructions">
      Hi, I'm Andreas Brodersen and I made this as an excuse to try out <strong
        ><a href="https://astro.build/">Astro</a>
      </strong> :D
    </p>
    <ul role="list" class="link-card-grid">
      <Card
        href="https://github.com/andreaspb"
        title="My GitHub"
        body="Feel free to stalk me."
      />
      <Card
        href="https://streamchaser.tv"
        title="streamchaser.tv"
        body="A hobby project I spend a lot of my free time building."
      />
      <Card
        href="https://github.com/magenta-aps"
        title="Magenta - Open Source IT"
        body="The place I work. I do a mix of Python backend and Svelte frontend... And Perl in the near future. 🙈"
      />
      <img
        width="100%"
        src="https://media.tenor.com/XclFYuGpS5UAAAAC/dancing-duck.gif"
        alt="dancing duck"
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 75ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  img {
    border-radius: 0.4rem;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
